.cards {
  display: block;
  position: relative;
  cursor: pointer;

  @include hover-focus {
    figure {
      transform: perspective(600px) rotateY(-180deg);
    }

    div {
      transform: perspective(600px) rotateY(0);
    }
  }

  @include active {
    figure {
      transform: perspective(600px) rotateY(-180deg);
    }

    div {
      transform: perspective(600px) rotateY(0);
    }
  }
}

.cards figure,
.cards div {
  width: 100%;
  min-height: 100%;
  height: auto;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

.cards figure {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  transform: perspective(600px) rotateY(0);
  transition: all $trans-600;
}

.cards figcaption {
  display: block;
  position: absolute;
  left: 30px;
  bottom: 22px;
  font-family: $ff-motserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-alice-blue;

  @include vp-1023 {
    left: 35px;
    bottom: 27px;
  }

  @include vp-767 {
    left: 25px;
    bottom: 17px;
  }
}

.cards img {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.cards h3 {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-family: $ff-motserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-alice-blue;
}

.cards div {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px 25px;
  background-color: $color-tangaroa;
  box-shadow: 0 4px 35px 0 $color-tangaroa-shadow;
  overflow: auto;
  transform: perspective(600px) rotateY(180deg);
  transition: all $trans-600;

  @include vp-1023 {
    padding: 35px;
    padding-top: 30px;
  }

  @include vp-767 {
    padding: 35px 25px;
    padding-top: 30px;
  }
}

.cards h4 {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  font-family: $ff-motserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;
}

.cards p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: $ff-motserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-quartz;
}

.cards a {
  display: block;
  margin-top: 22px;
  padding: 10px;
  height: 40px;
  background-color: $color-alice-blue;
  font-family: $ff-motserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: $color-tangaroa;
  text-align: center;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.cards ul {
  margin: 0;
  padding: 0;
}

.cards li {
  list-style-type: none;
}
