.navigation {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 35px 0;

  @include vp-1023 {
    grid-template-columns: 52px 1fr;
    padding: 22px 0;
  }

  @include vp-767 {
    padding: 20px 0;
    transition: all $trans-600;
  }
}

.navigation__logo {
  display: block;
  margin-right: 30px;

  @include vp-1023 {
    margin-right: 14px;
    margin-top: 8px;
  }

  @include vp-767 {
    margin: 0;
    margin-right: 10px;
  }
}

.navigation__icon {
  display: block;
  width: 70px;
  height: 38px;
  fill: $color-alice-blue;
  color: $color-alice-blue;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.is-open .navigation__icon {
  @include vp-767 {
    fill: $color-tangaroa;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  margin: 0;
  padding: 0;
  align-items: center;

  @include vp-1023 {
    gap: 24px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.navigation__item {
  list-style-type: none;
}

.navigation__link {
  display: block;
  padding: 10px 0;
  font-family: $ff-motserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;

  @include hover-focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    padding: 10px;
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }
}

.is-open .navigation {
  @include vp-767 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 89%;
    height: 100%;
    padding: 20px 15px;
    background-color: $color-alice-blue;
    overflow: auto;
    // z-index: 5;
  }
}
