.reservation {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $color-solitude;
  background-image: url("../img/fone/form.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) {
    @include retina {
      background-image: url("../img/fone/form@2x.jpg");
    }
  }

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/fone/form-tablet.jpg");

    @include retina {
      background-image: url("../img/fone/form-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url("../../img/fone/form-mobile.jpg");

    @include retina {
      background-image: url("../img/fone/form-mobile@2x.jpg");
    }
  }
}

.reservation .container {
  display: grid;
  grid-template-columns: 1fr 403px;
  padding-left: 163px;
  padding-right: 163px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    padding-left: 45px;
    padding-right: 45px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.reservation__content {
  padding-top: 178px;
  margin-right: 20px;

  @include vp-1023 {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    justify-self: center;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.reservation__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: $ff-motserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: $color-tangaroa;

  @include vp-1023 {
    margin-bottom: 25px;
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
  }
}

.reservation__subtitle {
  margin: 0;
  padding: 0;
  font-family: $ff-motserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $color-tangaroa;

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}

.reservation__subtitle br {
  @include vp-767 {
    display: none;
  }
}
