.reservation {
  padding-top: 50px;
  padding-bottom: 49px;
  background-color: $color-solitude;
  background-image: url("../img/fone/form.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) {
    @include retina {
      background-image: url("../img/fone/form@2x.jpg");
    }
  }

  @include vp-1023 {
    padding-top: 88px;
    padding-bottom: 100px;
    background-image: url("../img/fone/form-tablet.jpg");

    @include retina {
      background-image: url("../img/fone/form-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    padding-top: 59px;
    padding-bottom: 65px;
    background-image: url("../img/fone/form-mobile.jpg");

    @include retina {
      background-image: url("../img/fone/form-mobile@2x.jpg");
    }
  }
}

.reservation .container {
  display: grid;
  grid-template-columns: 1fr 403px;
  padding-left: 163px;
  padding-right: 163px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    padding-left: 45px;
    padding-right: 45px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.reservation__content {
  padding-top: 163px;

  @include vp-1023 {
    margin: 0;
    margin-bottom: 52px;
    padding: 0;
    justify-self: center;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}

.reservation__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: $ff-motserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: $color-tangaroa;

  @include vp-1023 {
    margin-bottom: 5px;
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767 {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 31px;
  }
}

.reservation__subtitle {
  max-width: 352px;
  margin: 0;
  padding: 0;
  font-family: $ff-motserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $color-tangaroa;

  @include vp-1023 {
    margin: 0 auto;
    padding-right: 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}

.reservation__subtitle br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
