.top-wrapper {
  background-color: $color-tangaroa;
  background-image: url("../img/contents/fone/main-fon.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  filter: drop-shadow(0 4px 4px $color-default-black-shadow);

  @media (min-width: 1024px) {
    @include retina {
      background-image: url("../img/contents/fone/main-fon@2x.webp");
    }
  }

  @include vp-1023 {
    filter: none;
    background-image: url("../img/contents/fone/main-fon-tablet.webp");

    @include retina {
      background-image: url("../img/contents/fone/main-fon-tablet@2x.webp");
    }
  }

  @include vp-767 {
    background-image: url("../img/contents/fone/main-fon-mobile.webp");

    @include retina {
      background-image: url("../img/contents/fone/main-fon-mobile@2x.webp");
    }
  }
}
